<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>VueJS</title>
    <link rel="stylesheet" href="">
    <script src="vue.js"></script>
    <style>
        #effect, .bar {
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }
        .bar{
            background: red;
        }

        .highlight {
            background-color: red;
            width: 200px !important;
        }

        .shrink {
            background-color: gray;
            width: 50px !important;
        }

        .w-200 {
            width: 200px !important;
        }

        .w-300 {
            width: 300px !important;
        }

    </style>
</head>
<body>

<div id="exercise">
    <!-- 1) Start the Effect with the Button. The Effect should alternate the "highlight" or "shrink" class on each new setInterval tick (attach respective class to the div with id "effect" below) -->
    <div>
        <button @click="startEffects">Start Effect</button>
        <div id="effect" :class="className"></div>
    </div>

    <!-- 2) Create a couple of CSS classes and attach them via the array syntax -->
    <div :class="[{highlight: startEffect}, {shrink: !startEffect}]">I got no class :(</div>
    <!-- 3) Let the user enter a class (create some example classes) and attach it -->
    <div>
        <input type="text" v-model="color">
        <div :class="color"></div>
    </div>
    <!-- 4) Let the user enter a class and enter true/ false for another class (create some example classes) and attach the classes -->
    <div>
        <input type="text" v-model="color">
        <input type="text" v-model=" width">
        <div :class="[color, width]">00</div>
    </div>
    <!-- 5) Repeat 3) but now with values for styles (instead of class names). Attach the respective styles.  -->
    <div>
        <input type="text">
        <div></div>
    </div>
    <!-- 6) Create a simple progress bar with setInterval and style bindings. Start it by hitting the below button. -->
    <div style="width: 300px; border: 1px solid red;">
        <button v-on:click="startProgress">Start Progress</button>
        <div class="bar" :style="{width: width + '%'}"></div>
    </div>
</div>

<script>
    new Vue({
        el: '#exercise',
        data: {
            startEffect: false,
            colorEffect: true,
            color: "",
            counter: 0,
            width: 0,
            bar: 'bar',
            startbar: false
        },
        computed: {
            className: function () {
                return {
                    highlight: this.colorEffect && this.startEffect,
                    shrink: !this.colorEffect && this.startEffect
                }
            }
        },
        methods: {
            startEffects: function () {
                if(!this.startEffect){
                    this.startEffect = true;

                    if (!this.interval) {
                        this.interval = setInterval( ()=> {
                            this.colorEffect ? this.colorEffect = false : this.colorEffect = true;
                        }, 1000);
                    }
                }
                else{
                    this.startEffect = false;
                    clearInterval(this.interval);
                    this.interval = null;
                }
            },
            startProgress: function () {

                if(!this.startbar ){
                    this.startbar = true;
                    this.interval = setInterval( ()=> {
                        if(this.width < 100){
                            this.width++;
                        }
                        else {
                            this.startbar = false;
                            clearInterval(this.interval);
                            this.interval = null;
                        }
                    }, 100);
                }
                else{
                    this.startbar = false;
                    clearInterval(this.interval);
                    this.interval = null;
                }

            },
        }
    });
</script>
</body>
</html>